body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    color: #333;
}



.hero-section {
    background-color: #e0f7fa;
    text-align: center;
    padding: 3rem 2rem;
}

.hero-section h2 {
    font-size: 2.5rem;
    color: #004d40;
}

.hero-section p {
    font-size: 1.2rem;
    color: #00796b;
    margin: 1rem 0;
}

.cta-button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #00796b;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #004d40;
}

.stats-section {
    display: flex;
    justify-content: space-around;
    background-color: #fafafa;
    padding: 2rem;
}

.stat-item h3 {
    font-size: 2.5rem;
    color: #004d40;
}

.stat-item p {
    font-size: 1.2rem;
    color: #555;
}

.features-section {
    background-color: #fff;
    padding: 3rem 2rem;
    text-align: center;
}

.features-section h2 {
    font-size: 2rem;
    color: #333;
}

.feature-card {
    margin: 1.5rem 0;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-card h3 {
    font-size: 1.5rem;
    color: #00796b;
}

.feature-card p {
    font-size: 1.1rem;
    color: #555;
}

.testimonials-section {
    background-color: #f4f4f9;
    padding: 3rem 2rem;
    text-align: center;
}

.testimonials-section h2 {
    font-size: 2rem;
    color: #333;
}

.testimonial {
    margin: 1.5rem 0;
    font-style: italic;
    color: #555;
}

.footer {
    height:25px;
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 1vh;
}
.footer p {
    margin-top: 5px;
}


.footer-links a:hover {
    text-decoration: underline;
}


.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #333;
}

.not-found-container h1 {
    font-size: 3rem;
    color: #004d40;
    margin-bottom: 1rem;
}

.not-found-container p {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 2rem;
}

.not-found-container .btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #00796b;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1rem;
    transition: background-color 0.3s;
}

.not-found-container .btn:hover {
    background-color: #004d40;
}