version: '3.8'

services:
  mongo:
    image: mongo:4.4
    environment:
      - MONGO_INITDB_ROOT_USERNAME=rootuser
      - MONGO_INITDB_ROOT_PASSWORD=rootpassword
      - MONGO_INITDB_DATABASE=solarpanelapp
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  model:
    build:
      context: ./XGBoost
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./XGBoost:/app  # map the FastAPI code into the container

#  model:
#    build:
#      context: ./model
#      dockerfile: Dockerfile
#    ports:
#      - "8000:8000"
#    volumes:
#      - ./model:/app  # map the FastAPI code into the container
#    depends_on:
#      - mongo

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8082:8082"
    # volumes:
    #   - ./backend:/app  # map the backend code
    depends_on:
      - model
    environment:
      - FORECAST_URL=http://model:8000

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_BACKEND_URL=http://localhost:8082
      - REACT_APP_WS_URL=""
    volumes:
      - ./frontend:/app  
      - /app/node_modules 
    depends_on:
      - mongo

  nginx:
     image: nginx:latest
     container_name: nginx
     ports:
       - "80:80"
       - "8088:8088"
     volumes:
       - ./nginx.conf:/etc/nginx/nginx.conf:ro
     depends_on:
       - backend
       - frontend
     restart: always

volumes:
  mongo-data:
